/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcfc;
    padding:10px 20px;
    height: 60px;
    color: #000000;
  }
  
  .navbar-logo .logo {
    height: 40px;
    width: auto;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
  .navbar-button {
    background-color: #fff9f9;
    color: #000000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Jersey 10", sans-serif;
 
  }
  
  .navbar-button:hover {
    background-color: #777;
  }
  